In [1]:
import pandas as pd
import random
import datetime as dt

In [2]:
raw_data = pd.read_csv("202209-citibike-tripdata.csv")

C:\Users\itssm\AppData\Local\Temp\ipykernel_19772\2259616505.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_data = pd.read_csv("202209-citibike-tripdata.csv")

In [3]:
dropped_columns = raw_data.drop(columns=["ride_id", "start_station_id", "end_station_id"])

In [4]:
dropped_nas = dropped_columns.dropna()

In [5]:
dropped_dups = dropped_nas.drop_duplicates(ignore_index=True)

In [6]:
data_set_length = len(dropped_dups)

In [7]:
random_list = random.sample(range(0, data_set_length), 100000)

In [8]:
sample_df = dropped_dups[dropped_dups.index.isin(random_list)]
sample_df = sample_df.reset_index(drop=True)

In [9]:
sample_df["start_lat"] = sample_df["start_lat"].round(3)
sample_df["start_lng"] = sample_df["start_lng"].round(3)
sample_df["end_lat"] = sample_df["end_lat"].round(3)
sample_df["end_lng"] = sample_df["end_lng"].round(3)
sample_df

,rideable_type,started_at,ended_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual
0,classic_bike,2022-09-15 09:15:34,2022-09-15 09:31:25,1 Ave & E 62 St,2 Ave & E 29 St,40.761,-73.961,40.742,-73.978,member
1,electric_bike,2022-09-29 16:44:26,2022-09-29 16:49:11,Adam Clayton Powell Blvd & W 126 St,St. Nicholas Ave & W 126 St,40.809,-73.948,40.811,-73.952,member
2,classic_bike,2022-09-21 08:32:12,2022-09-21 08:48:39,W 20 St & 10 Ave,E 45 St & 3 Ave,40.746,-74.005,40.753,-73.973,member
3,electric_bike,2022-09-16 19:07:13,2022-09-16 19:31:37,Lenox Ave & W 130 St,E 80 St & 2 Ave,40.811,-73.943,40.774,-73.954,member
4,classic_bike,2022-09-25 08:14:43,2022-09-25 08:33:37,Church St & Worth St,Dock St & Front St,40.717,-74.007,40.703,-73.993,casual
...,...,...,...,...,...,...,...,...,...,...
99995,classic_bike,2022-09-06 16:41:00,2022-09-06 16:59:29,W 16 St & The High Line,1 Ave & E 6 St,40.743,-74.007,40.726,-73.986,member
99996,classic_bike,2022-09-14 23:23:47,2022-09-14 23:35:20,Broadway & W 38 St,6 Ave & W 45 St,40.753,-73.987,40.757,-73.983,casual
99997,classic_bike,2022-09-16 00:02:20,2022-09-16 00:17:31,Clinton St & Grand St,E 20 St & FDR Dr,40.716,-73.987,40.733,-73.976,member
99998,electric_bike,2022-09-03 13:58:25,2022-09-03 14:02:59,14 St & 7 Ave,5 Ave & 3 St,40.664,-73.984,40.673,-73.984,member
99999,classic_bike,2022-09-16 17:10:09,2022-09-16 17:20:24,Greenwich St & Perry St,Lafayette St & E 8 St,40.735,-74.007,40.730,-73.991,member

In [28]:
# Calculate the time each trip took, save it to a list

ride_time = []

for event in range(0,100000):
    # Convert started_at to datetime object, save it
    started_dt = dt.datetime.strptime(sample_df["started_at"][event], "%Y-%m-%d %H:%M:%S")
    # Convert ended_at to datetime object, save it
    ended_dt = dt.datetime.strptime(sample_df["ended_at"][event], "%Y-%m-%d %H:%M:%S")
    # Calculate elapsed time in seconds
    time_change = ended_dt - started_dt
    elapsed_seconds = time_change.seconds
    # Convert elapsed time in seconds to H:M:S string
    ride_length = str(dt.timedelta(seconds = elapsed_seconds))
    # Append string to series
    ride_time.append(ride_length)

In [30]:
# Add series to dataframe as a new column
sample_df["ride_time"] = ride_time

sample_df

,rideable_type,started_at,ended_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual,ride_time
0,classic_bike,2022-09-15 09:15:34,2022-09-15 09:31:25,1 Ave & E 62 St,2 Ave & E 29 St,40.761,-73.961,40.742,-73.978,member,0:15:51
1,electric_bike,2022-09-29 16:44:26,2022-09-29 16:49:11,Adam Clayton Powell Blvd & W 126 St,St. Nicholas Ave & W 126 St,40.809,-73.948,40.811,-73.952,member,0:04:45
2,classic_bike,2022-09-21 08:32:12,2022-09-21 08:48:39,W 20 St & 10 Ave,E 45 St & 3 Ave,40.746,-74.005,40.753,-73.973,member,0:16:27
3,electric_bike,2022-09-16 19:07:13,2022-09-16 19:31:37,Lenox Ave & W 130 St,E 80 St & 2 Ave,40.811,-73.943,40.774,-73.954,member,0:24:24
4,classic_bike,2022-09-25 08:14:43,2022-09-25 08:33:37,Church St & Worth St,Dock St & Front St,40.717,-74.007,40.703,-73.993,casual,0:18:54
...,...,...,...,...,...,...,...,...,...,...,...
99995,classic_bike,2022-09-06 16:41:00,2022-09-06 16:59:29,W 16 St & The High Line,1 Ave & E 6 St,40.743,-74.007,40.726,-73.986,member,0:18:29
99996,classic_bike,2022-09-14 23:23:47,2022-09-14 23:35:20,Broadway & W 38 St,6 Ave & W 45 St,40.753,-73.987,40.757,-73.983,casual,0:11:33
99997,classic_bike,2022-09-16 00:02:20,2022-09-16 00:17:31,Clinton St & Grand St,E 20 St & FDR Dr,40.716,-73.987,40.733,-73.976,member,0:15:11
99998,electric_bike,2022-09-03 13:58:25,2022-09-03 14:02:59,14 St & 7 Ave,5 Ave & 3 St,40.664,-73.984,40.673,-73.984,member,0:04:34
99999,classic_bike,2022-09-16 17:10:09,2022-09-16 17:20:24,Greenwich St & Perry St,Lafayette St & E 8 St,40.735,-74.007,40.730,-73.991,member,0:10:15

In [31]:
sample_df.to_csv("random_sample_rounded_2022_09.csv")